@{
    ViewBag.Title = "Admin - Home Page";
    Layout = "~/Views/Shared/_LayoutHomeAdmin.cshtml";
}

@model List<Practica.Data.Models.Doc>

@section styles {
    <link href="~/Content/styles/homeAdmin.css" rel="stylesheet" />
    <link href="~/Content/styles/modal.css" rel="stylesheet" />
}

<section class="vh-100 gradient-custom">
    <!-- JPG files modal -->
    <div id="selected-image" class="modal-background hidden">
        <div id="file" class="image-modal">
            <div class="image-container">
                <img id="selected-image-object" src="~/Data/SavedFiles/a@a.com_Alberto_17-04-2024-11-16-01.jpg" alt="MDN" />
            </div>
        </div>
    </div>
    <!--------------------->
    <!-- Loading modal -->
    <div id="charging-icon" class="modal-background hidden">
        <div id="loading-icon" class="loading-content">
            <div style="color: rgb(129, 129, 9); text-decoration:solid; text-decoration-color: rgb(129, 129, 9);">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                    <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z" />
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                </svg>
                <h2>Completando registro...</h2>
            </div>
        </div>
    </div>
    <!------------------->
    <!-- Modal for deleting file -->
    <div id="wf-modal-background" class="modal-background hidden">
        <div class="details-modal">
            <div class="disprow">
                <div class="details-modal-title">
                    <h1>Archivo no válido</h1>
                </div>
                <div class="details-modal-close">
                    <a id="closeModal" style="width: 100px;color: black; text-decoration-color: black; display: flex; flex-direction: column; justify-content: center; align-items: center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-x-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>
                        Cerrar
                    </a>
                </div>
            </div>
            <div class="details-modal-content">
                <p style="color:black;">
                    Solo se pueden subir archivos de tipo jpg o pdf.<br />
                    Cualquier otro tipo no será aceptado.
                </p>
            </div>
        </div>
    </div>
    <!------------------------->

    <div class="container h-100">
        <div class="">
            <!--col-12 col-md-8 col-lg-6 col-xl-5-->
            <div class="bg-dark text-white w-100" style="border-radius: 1rem;">
                <div class="p-5 text-center">

                    <h2 class="fw-bold mb-2 text-uppercase">Documentos Registrados</h2>
                    <p class="text-white-50 mb-3">Gestión de documentos</p>

                    <div class="table-responsive text-white">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Propietario</th>
                                    <th>Email Registrado</th>
                                    <th>Fecha de nacimiento</th>
                                    <th>Edad</th>
                                    <th>Educación</th>
                                    <th>Última Actualización</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var doc in Model)
                                {
                                    if (doc.DocPath.EndsWith(".jpg"))
                                    {
                                        <tr>
                                            <td>@doc.Id</td>
                                            <td>@doc.Name</td>
                                            <td>@doc.Email</td>
                                            <td>@doc.RegisteredEmail</td>
                                            <td>@doc.BirthDate</td>
                                            <td>@doc.Age</td>
                                            <td>@doc.Education</td>
                                            <td>@doc.LastUpdate</td>
                                            <td class="align-button">
                                                <button class="btn btn-outline-light btn-sm ButtonViewJPG" value="@doc.DocPath">Ver</button>
                                                <button class="btn btn-outline-light btn-sm ButtonDownload mb-2 mt-2" value="@doc.DocPath">Descargar</button>
                                                <button class="btn btn-outline-light btn-sm ButtonDelete" value="@doc.Id">Eliminar</button>
                                            </td>
                                        </tr>
                                    }
                                    if (doc.DocPath.EndsWith(".pdf"))
                                    {
                                        <tr>
                                            <td>@doc.Id</td>
                                            <td>@doc.Name</td>
                                            <td>@doc.Email</td>
                                            <td>@doc.RegisteredEmail</td>
                                            <td>@doc.BirthDate</td>
                                            <td>@doc.Age</td>
                                            <td>@doc.Education</td>
                                            <td>@doc.LastUpdate</td>
                                            <td class="align-button">
                                                <a class="btn btn-outline-light btn-sm ButtonViewPDF" href="@doc.DocPath.Substring(1)" target="_blank">Ver</a>
                                                <button class="btn btn-outline-light btn-sm ButtonDownload mb-2 mt-2" value="@doc.DocPath">Descargar</button>
                                                <button class="btn btn-outline-light btn-sm ButtonDelete" value="@doc.Id">Eliminar</button>
                                            </td>
                                        </tr>
                                    }
                                    if (!doc.DocPath.EndsWith(".jpg") && !doc.DocPath.EndsWith(".pdf"))
                                    {
                                        <tr>
                                            <td>@doc.Id</td>
                                            <td>@doc.Name</td>
                                            <td>@doc.Email</td>
                                            <td>@doc.RegisteredEmail</td>
                                            <td>@doc.BirthDate</td>
                                            <td>@doc.Age</td>
                                            <td>@doc.Education</td>
                                            <td>@doc.LastUpdate</td>
                                            <td class="align-button">
                                                <button class="btn btn-outline-light btn-sm ButtonViewJPG" value="@doc.DocPath" disabled>Ver</button>
                                                <button class="btn btn-outline-light btn-sm ButtonDownload mb-2 mt-2" value="@doc.DocPath">Descargar</button>
                                                <button class="btn btn-outline-light btn-sm ButtonDelete" value="@doc.Id">Eliminar</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Content/scripts/homeAdmin.js"></script>
}