@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@model Practica.Models.FormModels.DocForm

@section styles {
    <link href="~/Content/styles/home.css" rel="stylesheet" />
}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Registro de documento</h2>
                            <p class="text-white-50 mb-5">Porfavor llene el formulario</p>

                            @using (Html.BeginForm("Login", "Doc", FormMethod.Post, new { id = "loginForm" }))
                            {

                                <div class="form-outline form-white mb-4 custom-align">
                                    <div class="alert alert-danger mt-2 Name-error-message" style="display: none;">
                                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "Name-error-message", style = "display: none;" })
                                    </div>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-lg" })
                                    @Html.LabelFor(m => m.Name, "Nombre*", new { @class = "form-label" })
                                </div>

                                <div class="form-outline form-white mb-4 custom-align">
                                    <div class="alert alert-danger mt-2 Email-error-message" style="display: none;">
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "Email-error-message", style = "display: none;" })
                                    </div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg" })
                                    @Html.LabelFor(m => m.Email, "Correo Electrónico*", new { @class = "form-label" })
                                </div>

                                <div class="disprow form-outline form-white mb-4 custom-align">
                                    <div>
                                        <div class="date-input">
                                            @Html.TextBoxFor(m => m.Year, new
                                           {
                                               @class = "long form-control form-control-lg",
                                               type = "number",
                                               min = "0000",
                                               max = "2024",
                                               inputmode = "numeric",
                                               maxlength = "4",
                                               placeholder = "YYYY"
                                           })
                                            <span>/</span>
                                            @Html.TextBoxFor(m => m.Year, new
                                           {
                                               @class = "short form-control form-control-lg",
                                               type = "number",
                                               min = "01",
                                               max = "12",
                                               inputmode = "numeric",
                                               maxlength = "2",
                                               placeholder = "MM"
                                           })
                                            <span>/</span>
                                            @Html.TextBoxFor(m => m.Year, new
                                           {
                                               @class = "short form-control form-control-lg",
                                               type = "number",
                                               min = "01",
                                               max = "31",
                                               inputmode = "numeric",
                                               maxlength = "2",
                                               placeholder = "DD"
                                           })
                                        </div>
                                        <label class="form-label" for="date-input">Fecha de nacimiento</label>
                                    </div> @* Note: The Age is obtained from a method in the home.js. The same way it was obtained in Configuration.cs*@
                                </div>
                                <div class="disprow form-outline form-white mb-4 education-container">
                                    <div class="selectContainer">
                                        <div class="alert alert-danger mt-2 Email-error-message" style="display: none;">
                                            @Html.ValidationMessageFor(m => m.EducationLevel, "", new { @class = "EducationLevel-error-message", style = "display: none;" })
                                        </div>
                                        @Html.DropDownListFor(m => m.EducationLevel, new SelectList(new List<SelectListItem>{ 
                                            new SelectListItem { Text = "Selecciona una opción", Value = "0" },
                                            new SelectListItem { Text = "Maestría", Value = "Maestria" },
                                            new SelectListItem { Text = "Carrera", Value = "Carrera" },
                                            new SelectListItem { Text = "Preparatoria", Value = "Preparatoria" },
                                            new SelectListItem { Text = "Educación básica", Value = "Educacion basica" }
                                        }, "Value", "Text"), new { @class = "form-control form-control-lg" })
                                        @Html.LabelFor(m => m.EducationLevel, "Nivel educativo*", new { @class = "form-label" })
                                    </div>
                                    <div class="selectContainer">
                                        <div class="alert alert-danger mt-2 Email-error-message" style="display: none;">
                                            @Html.ValidationMessageFor(m => m.EducationProgress, "", new { @class = "EducationProgress-error-message", style = "display: none;" })
                                        </div>
                                        @Html.DropDownListFor(m => m.EducationProgress, new SelectList(new List<SelectListItem>{
                                            new SelectListItem { Text = "", Value = "0" },
                                            new SelectListItem { Text = "Terminada", Value = "Terminada" },
                                            new SelectListItem { Text = "En progreso", Value = "En progreso" },
                                            new SelectListItem { Text = "No terminada", Value = "No terminada" }
                                        }, "Value", "Text"), new { @class = "form-control form-control-lg" })
                                        @Html.LabelFor(m => m.EducationProgress, "Progreso*", new { @class = "form-label" })
                                    </div>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input formControlName="Documento" type="file" id="Documento" name="Documento" accept=".pdf,.jpg,.jpeg">
                                    <label class="form-label" for="Documento">Sube un archivo PDF o JPG:</label>
                                    <a class="btn btn-outline-light" (click)="deleteDoc()">Eliminar Archivo</a>
                                </div>

                                <div class="alert alert-danger mt-2" [hidden]="!registerDocErrorMessage">{{registerDocErrorMessage}}</div>

                                <button [disabled]="registerDocForm.invalid" class="btn btn-outline-light btn-lg px-5" type="submit">Registrar</button>

                            }

                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Content/scripts/home.js"></script>
}