
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutHomeAdmin.cshtml";
}

@model Practica.Models.FormModels.Register

@section styles {
    <link href="~/Content/styles/register.css" rel="stylesheet" />
    <link href="~/Content/styles/modal.css" rel="stylesheet" />
}

<section class="vh-100 gradient-custom">
    <!-- Loading modal -->
    <div id="charging-icon" class="modal-background hidden">
        <div id="loading-icon" class="loading-content">
            <div style="color: rgb(129, 129, 9); text-decoration:solid; text-decoration-color: rgb(129, 129, 9);">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                    <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z" />
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                </svg>
                <h2>Completando registro...</h2>
            </div>
        </div>
    </div>
    <!------------------->

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-2">

                            <h2 class="fw-bold mb-2 text-uppercase">Registro de documento</h2>
                            <p class="text-white-50 mb-5">Porfavor llene los campos obligatorios *</p>

                            @using (Html.BeginForm("Register", "Doc", FormMethod.Post, new { id = "RegisterDocForm" }))
                            {

                                <div class="form-outline form-white mb-4 custom-align">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-lg" })
                                    @Html.LabelFor(m => m.Name, "Nombre*", new
                                    {
                                        @class = "form-label hovertext",
                                        message = "Solo debe contener letras minúsculas o mayúsculas, se aceptan espacios y acentos."
                                    })
                                </div>

                                <div class="form-outline form-white mb-4 custom-align">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg" })
                                    @Html.LabelFor(m => m.Email, "Correo Electrónico*", new
                                    {
                                        @class = "form-label hovertext",
                                        message = "Debe ser un correo electrónico válido. Ejemplo: d@d.com"
                                    })
                                </div>

                                <div class="form-outline form-white mb-4 custom-align">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-lg" })
                                    @Html.LabelFor(m => m.Password, "Contraseña*", new
                                    {
                                        @class = "form-label hovertext",
                                        message = "Debe contener por lo menos 8 caracteres, una minuscula, una mayuscula, un signo especial (*,@,#,etc.) y evita que este relacionado con algo personal."
                                    })
                                </div>

                                <div class="form-outline form-white mb-4 custom-align">
                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control form-control-lg" })
                                    @Html.LabelFor(m => m.ConfirmPassword, "Confirma contraseña*", new
                                    {
                                        @class = "form-label hovertext",
                                        message = "Debe ser igual que la contraseña ingresada."
                                    })
                                </div>

                                <div class="">
                                    @Html.CheckBoxFor(m => m.AdminRole, new { @class = "checkbox" })
                                    @Html.LabelFor(m => m.AdminRole, new
                                    {
                                        @class = "form-label hovertext checkbox-label form-control",
                                        message = "Seleccionelo para indicar que este usuario sera administrador."
                                    })
                                </div>

                                <input id="RegisterButton" class="btn btn-outline-light btn-lg px-5" value="Completar registro" />

                            }
                            <div class="alert alert-success mt-2 Register-message" style="display: none;">
                                @Html.ValidationMessage("", new { @class = "Register-message" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Content/scripts/register.js"></script>
}