
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model Practica.Models.FormModels.Register

@section styles {
    <link href="~/Content/styles/home.css" rel="stylesheet" />
}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-2">

                            <h2 class="fw-bold mb-2 text-uppercase">Registro de documento</h2>
                            <p class="text-white-50 mb-5">Porfavor llene los campos obligatorios *</p>

                            @using (Html.BeginForm("Register", "Doc", FormMethod.Post, new { id = "RegisterDocForm" }))
                            {

                                <div class="form-outline form-white mb-4 custom-align">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-lg" })
                                    @Html.LabelFor(m => m.Name, "Nombre*", new
                                    {
                                        @class = "form-label hovertext",
                                        message = "Solo debe contener letras minúsculas o mayúsculas, se aceptan espacios y acentos."
                                    })
                                </div>

                                <div class="form-outline form-white mb-4 custom-align">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg" })
                                    @Html.LabelFor(m => m.Email, "Correo Electrónico*", new
                                    {
                                        @class = "form-label hovertext",
                                        message = "Debe ser un correo electrónico válido. Ejemplo: d@d.com"
                                    })
                                </div>

                                <div class="disprow form-outline form-white mb-4 custom-align">
                                    <div>
                                        <div class="date-input">
                                            @Html.TextBoxFor(m => m.Day, new
                                            {
                                               @class = "short form-control form-control-lg",
                                               type = "number",
                                               min = "01",
                                               max = "31",
                                               inputmode = "numeric",
                                               maxlength = "2",
                                               placeholder = "DD"
                                            })
                                            <span>/</span>
                                            @Html.TextBoxFor(m => m.Month, new
                                               {
                                                   @class = "short form-control form-control-lg",
                                                   type = "number",
                                                   min = "01",
                                                   max = "12",
                                                   inputmode = "numeric",
                                                   maxlength = "2",
                                                   placeholder = "MM"
                                               })
                                            <span>/</span>
                                            @Html.TextBoxFor(m => m.Year, new
                                            {
                                               @class = "long form-control form-control-lg",
                                               type = "number",
                                               min = "0000",
                                               max = "2024",
                                               inputmode = "numeric",
                                               maxlength = "4",
                                               placeholder = "YYYY"
                                            })
                                        </div>
                                        <label class="form-label hovertext" for="date-input" message="Debe ser una fecha válida">Fecha de nacimiento*</label>
                                    </div>
                                </div>
                                <div class="disprow form-outline form-white mb-4 education-container">
                                    <div class="selectContainer">
                                        @Html.DropDownListFor(m => m.EducationLevel, new SelectList(new List<SelectListItem>{
                                            new SelectListItem { Text = "Selecciona una opción", Value = "0" },
                                            new SelectListItem { Text = "Maestría", Value = "Maestria" },
                                            new SelectListItem { Text = "Carrera", Value = "Carrera" },
                                            new SelectListItem { Text = "Preparatoria", Value = "Preparatoria" },
                                            new SelectListItem { Text = "Educación básica", Value = "Educacion basica" },
                                            new SelectListItem { Text = "Otro", Value = "AddOther" }
                                        }, "Value", "Text"), new { @class = "form-control form-control-lg" })
                                        @Html.TextBoxFor(m => m.EducationLevelOtherOption, new { @class = "form-control form-control-lg OtherInput", id = "OtherOption", style = "display:none;" })
                                        @Html.LabelFor(m => m.EducationLevel, "Nivel educativo*", new
                                        {
                                            @class = "form-label hovertext",
                                       message = "Debe seleccionar una opción o elegir la opción de Otro y escribir una usted. En caso de elegir Otro solo debe contener letras minúsculas o mayúsculas, se aceptan espacios y acentos."
                                   })
                                    </div>
                                    <div class="selectContainer">
                                        @Html.DropDownListFor(m => m.EducationProgress, new SelectList(new List<SelectListItem>{
                                            new SelectListItem { Text = "Selecciona una opción", Value = "0" },
                                            new SelectListItem { Text = "Terminada", Value = "Terminada" },
                                            new SelectListItem { Text = "En progreso", Value = "En progreso" },
                                            new SelectListItem { Text = "No terminada", Value = "No terminada" }
                                        }, "Value", "Text"), new { @class = "form-control form-control-lg" })
                                        @Html.LabelFor(m => m.EducationProgress, "Progreso*", new
                                        {
                                            @class = "form-label hovertext",
                                       message = "Debe seleccionar una opción."
                                        })
                                    </div>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    @Html.TextBoxFor(model => model.Doc, new { @class = "SelectedDocText", type = "file", accept = ".jpg, .pdf" })<br />
                                    @Html.LabelFor(m => m.Doc, "Documento*", new { @class = "form-label hovertext", message = "El archivo solo puede ser de tipo pdf, jpg o jpeg" })<br />
                                    <input id="DeleteDoc" class="btn btn-outline-light btn-md px-5" type="button" value="Eliminar archivo" />
                                </div>

                                <input id="RegisterDocButton" class="btn btn-outline-light btn-lg px-5" value="Completar registro" />

                            }
                            <div class="alert alert-success mt-2 Register-message" style="display: none;">
                                @Html.ValidationMessage("", new { @class = "Register-message", style = "display: none;" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
